.idea
.vscode
*__pycache__*
.venv
*.sln

src/resources/majdata/
src/resources/ffmpeg/
src/resources/models/
src/resources/for_release_only/majdata/

src/app/ui_code_conventions.md

data/temp
data/settings.json
data/settings.json.bak
data/111-output/

python/
HachimiDX/

HachimiDX.exe
HachimiDX_*.7z
yolo26n.pt

OC_SORT-MASTER/
