*.mp4
dataset_detect/valid/
dataset_detect/train/
dataset_detect/backup/
dataset_obb/valid/
dataset_obb/train/
dataset_obb/backup/
runs/detect/
yolo11*.pt
input/
__pycache__/
*.pyc
*.log
*.zip
sdez*/
*.jsonl
train/
dataset_detect.7z
